container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;
  color: #4F3674;
  border-style: solid;
  border-width: 1px;
  border-color: #D6A800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h2 {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;
  color: #4F3674;
  border-style: solid;
  border-width: 1px;
  border-color: #D6A800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h3 {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;
  color: #4F3674;
  border-style: solid;
  border-width: 1px;
  border-color: #D6A800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h4 {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;
  color: #4F3674;
  border-style: solid;
  border-width: 1px;
  border-color: #D6A800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

a:link {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.25em;
  color: #4F3674;
  text-decoration: none;
}

a:visited {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.25em;
  color: #D6A800;
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.25em;
  color: #4F3674;
  text-decoration: underline;
}

a:active {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.25em;
  color: #4F3674;
  text-decoration: underline;
}
